* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.png');
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
}

.main-block {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
}

.contact {
    width: 400px;
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;  
}

/*HEDER*/
.tell {
    line-height: 18px;
    color: #30b4c8;
    margin: 49px 10px 0 244px;
}

.logo {
    width: 600px;

}
 .logo img {
    margin: 49px 10px 0 29px;
 }

.nav {
    margin: 31px 0 10px 26px;
    list-style-type: none;
}
.nav li {
    font-size: 9px;
    padding-left: 16px;
    float: left;
}

.nav a {
    text-align: center;
    display: block;
    background-position: center top;
    color: #30b4c8;
    background-repeat: no-repeat;
    width: 40px;
}

/*SECTION*/

.nav-menu {
    font-weight: normal;
    background-color: #303030;
}

.nav-menu li a:after {
    color: #ffffff;
    content: ' ▾';
}
 
.nav-menu li a:hover:after {
    color: #444;
    content: ' ▾';
}
 
.nav-menu li a:only-child:after {
 content: '';
}

.menu {
    font-size: 13px;
    margin-left: 35px;
    display: block;
    list-style-type: none;
}

.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.menu li {
    padding: 0px 21px 0 25px;
    position: relative;
    float: left;
}

.menu a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.nav p {
    width: 52px;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #303030;
}

.submenu li {
    display: block;
}

.submenu  a {
    display: block;
    color: white;
    background-color: #303030;;
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}
/*NEWS*/

.section {
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: normal;
    color: #424c43;
    display: flex;
    background: #edeef0;
}

.left {
    border-right: 1px solid rgba(158, 158, 158, .78);
    width: 265px;
}

.center {
    order: 2;
    width: 729px;
    background: #ffffff;
}

.right {
    border-left: 1px solid rgba(158, 158, 158, .78);
    order: 3;
    width: 261px;
    background: #edeef0;
}

@media all and (max-width: 1000px) {

    .section {
        flex-flow:column;
    }
 
    .section {
        width:auto;
    }
}

/*FOOTER*/

.footer {
    text-align: center;
    color: #fff;
}
