* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/background.png');
    font-size: 12px;
    font-weight: bold;
    font-family: 'Open Sans', Arial, sans-serif;
}

.main-block {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
}

.contact {
    width: 400px;
    float: right;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;  
}

/*HEDER*/
.tell {
    line-height: 18px;
    color: #30b4c8;
    margin: 49px 10px 0 244px;
}

.logo {
    width: 600px;

}
 .logo img {
    margin: 48px 10px 0 27px;
 }

.nav {
    margin: 28px 0 0 25px;
    list-style-type: none;
}
.nav li {
    font-size: 9px;
    padding-left: 16px;
    float: left;
}

.nav a {
    text-align: center;
    display: block;
    background-position: center top;
    color: #30b4c8;
    background-repeat: no-repeat;
    width: 40px;
}

/*SECTION*/

.nav-menu {
    font-weight: normal;
    background-color: #303030;
}

.nav-menu li a:after {
    color: #ffffff;
    content: ' ▾';
}
 
.nav-menu li a:hover:after {
    color: #444;
    content: ' ▾';
}
 
.nav-menu li a:only-child:after {
 content: '';
}

.menu {
    font-size: 13px;
    margin-left: 35px;
    display: block;
    list-style-type: none;
}

.menu:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.menu li {
    padding: 0px 21px 0 25px;
    position: relative;
    float: left;
}

.menu a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #303030;
}

.submenu li {
    display: block;
}

.submenu  a {
    display: block;
    color: white;
    background-color: #303030;;
    text-decoration: none;
}

.submenu a:hover {
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}
/*NEWS*/

.section {
    line-height: 25px;
    color: #303030;
    font-size: 14px;
    font-weight: normal;
}

.fon1{
    float:left;
    width:100%;
    background:gray;
}

.fon2{
    float:left;
    width:100%;
    background:white;
}

.fon3{
    float:left;
    width:100%;
    background:gray;
}


.left-block {
    border-right: 1px solid #575757;
    text-align: center;
    float: left;
    width: 208px;
}

.center-block {
    background: white;
    width: 573px;
    float: left;

}

.right-block {
    background: #edeef0;
    border-left: 1px solid #575757;
    text-align: center;
    width: 208px;

    float: right;
}

/*FOOTER*/

.footer {
    text-align: center;
    color: #fff;
}